@model IEnumerable<DataLayer.Comment>

@foreach (var item in Model.Where(c => c.Parent_id == null))
{
    <li>
        <a onclick="ReplyComment(@item.Comment_id)" class="reply-button">پاسخ</a>

        <img src="/Content/img/avatar.jpg" width="65">
        <div>
            <h5>ارسال شده از : @item.Name در تاریخ : @item.Create_Date.ToString("yyyy/MM/dd") </h5>
            <p>
                @item.Cm
            </p>
        </div>
        <div class="clearfix"></div>
        @if (Model.Any(c => c.Parent_id == item.Comment_id))
        {
            <ul>
                @foreach (var sub in Model.Where(c => c.Parent_id == item.Comment_id))
                {
                    <li>
                        <img src="/Content/img/avatar.jpg" width="65">
                        <div>
                            <h5>ارسال شده از : @sub.Name در تاریخ : @sub.Create_Date.ToString("yyyy/MM/dd") </h5>
                            <p>
                                @sub.Cm
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ul>
        }
    </li>
}

