@model DataLayer.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
